body {
  background-color: #f6f6f6;
  font-family: helvetica, arial;
}

input {
  height: 30px;
  width: 350px;
  font-size: 12px;
}

button {
    height: 35px;
    font-size: 14px;
    width: 80px;
    background-color: #3b444c;
    color: white;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  width: 250px;
}

table, th, td {
  border-top: 1px solid #dddddd;
}

td, th {
  padding: 10px;
}

div {
  margin-top: 20px;
}

#row-count {
  width: auto;
}
